---
import { favoritePokemon } from "../../components/pokemon/Favorites";
import Layout from "../../layout/layout.astro";
import type { PokemonList } from "../../interfaces/pokemon-list.interface";
import PokemonCard from "../../components/pokemon/PokemonCard.astro";
import Title from "../../components/common/Title.astro";

const res = await fetch("https://pokeapi.co/api/v2/pokemon");

const data = (await res.json()) as PokemonList;
---

<Layout title="favourites-pokémon">
  <Title > Your favourite pokémons </Title>


<favoritePokemon
client:only="solid-js"
<Title>My favorite pokemons</Title>
</favoritePokemon>

<!--<video controls="" autoplay="" transition:persist>
  <source src="https://ia804502.us.archive.org/33/items/GoldenGa1939_3/GoldenGa1939_3_512kb.mp4" type="video/mp4">
</video> -->
</Layout>

<style>
  .disabled {
    @apply bg-gray-400 text-gray-500;
  }
</style>
