---

import Layout from "../../layout/layout.astro";
import type { PokemonList } from "../../interfaces/pokemon-list.interface";
import PokemonCard from "../../components/pokemon/PokemonCard.astro";
import Title from "../../components/common/Title.astro";

const res = await fetch("https://pokeapi.co/api/v2/pokemon");

const data = (await res.json()) as PokemonList;
---

<Layout title="favourites-pokémon">
  <section
    class="flex flex-col items-center justify-center mt-[200px] bg-base-300 md:p-10 rounded-3xl md:mx-8 shadow-2xl"
  >
    <Title> Your favourite pokémons </Title>
    
    
    <ul class="grid grid-cols-1 sm:grid-cols-4 md:grid-cols-5 md:gap-5 w-full">
        {
          data.results.map((pokemon) => (
            <PokemonCard name={pokemon.name} url={pokemon.url} />
          ))
        }
      </ul>
  </section>
</Layout>

<style>
  .disabled {
    @apply bg-gray-400 text-gray-500;
  }
</style>
